/* main */
main {
    margin: 0 30px; white-space: nowrap;
}
main .video_popayes {
    text-align: center;
}
main .video_popayes .iframe {}
/* main event bn*/
main .event {}
main .event h1{font-weight: 600; font-size: 2.441em; padding: 50px 0 50px 125px; }
main .event .event_bn{text-align: center;}
main .event .event_bn #event_bn1{}
main .event .event_bn #event_bn1 {}
main .event .event_bn #event_bn1 img{}
main .event .event_bn #event_bn1 .event_txt{}
main .event .event_bn #event_bn1 .event_txt em{}
main .event .event_bn #event_bn1 .event_txt span{}
main .event .event_bn #event_bn2{}
main .event .event_bn #event_bn2 img{}
main .event .event_bn #event_bn2 .event_txt{}
main .event .event_bn #event_bn2 .event_txt em{}
main .event .event_bn #event_bn2 .event_txt span{}
main .event .event_bn #event_bn3{}
main .event .event_bn #event_bn3 img{}
main .event .event_bn #event_bn3 .event_txt{}
main .event .event_bn #event_bn3 .event_txt em{}
main .event .event_bn #event_bn3 .event_txt span{}
/* 이벤트 배너 공용 속성 */
main .event .event_bn a {
    display: block; margin-bottom: 50px;
}
main .event .event_bn a .event_txt{display: flex; flex-flow: column; background: #ddd; }
main .event .event_bn a .event_txt em{font-weight: 600; font-size: 1.563em;  padding: 20px 0;}
main .event .event_bn a .event_txt span{padding-bottom: 20px;}